@page
@model formModel
@{
}

<div class="container" style="max-width:35rem">
    <form method="post" id="myform">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" asp-for="Owner.Name"></label>
            <input class="col-sm-4 form-control" asp-for="Owner.Name" />
            <span class="col-sm-6 col-form-label text-danger" asp-validation-for="Owner.Name"></span>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" asp-for="Owner.EnterDate"></label>
            <input class="col-sm-4 form-control" asp-for="Owner.EnterDate" type="date" />
            <span class="col-sm-6 col-form-label text-danger" asp-validation-for="Owner.EnterDate"></span>
        </div>
        <button type="submit" class="btn btn-success" asp-page-handler="Show">SendAndShow</button>
        <button type="submit" class="btn btn-success" asp-page-handler="Clear">SendAndClear</button>
    </form>
    <div>
        -------------------------------------------------------
        <div id="message">
            <label>@Model.Message</label>
        </div>
    </div>
</div>

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
